<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-responsable-heading" jhiTranslate="diuconApp.responsable.home.createOrEditLabel">Create or edit a Responsable</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diuconApp.responsable.nombreCompleto" for="field_nombreCompleto">Nombre Completo</label>
                    <input type="text" class="form-control" name="nombreCompleto" id="field_nombreCompleto"
                           formControlName="nombreCompleto"/>
                    <div *ngIf="editForm.get('nombreCompleto')!.invalid && (editForm.get('nombreCompleto')!.dirty || editForm.get('nombreCompleto')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombreCompleto')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diuconApp.responsable.telefono" for="field_telefono">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="field_telefono"
                           formControlName="telefono"/>
                    <div *ngIf="editForm.get('telefono')!.invalid && (editForm.get('telefono')!.dirty || editForm.get('telefono')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefono')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diuconApp.responsable.fechaNacimiento" for="field_fechaNacimiento">Fecha Nacimiento</label>
                    <div class="input-group">
                        <input id="field_fechaNacimiento" type="text" class="form-control" name="fechaNacimiento" ngbDatepicker #fechaNacimientoDp="ngbDatepicker" formControlName="fechaNacimiento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaNacimientoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diuconApp.responsable.dni" for="field_dni">Dni</label>
                    <input type="number" class="form-control" name="dni" id="field_dni"
                           formControlName="dni"/>
                    <div *ngIf="editForm.get('dni')!.invalid && (editForm.get('dni')!.dirty || editForm.get('dni')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dni')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dni')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 99999999 }">
                            This field cannot be more than 99999999.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dni')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diuconApp.responsable.domicilio" for="field_domicilio">Domicilio</label>
                    <input type="text" class="form-control" name="domicilio" id="field_domicilio"
                           formControlName="domicilio"/>
                    <div *ngIf="editForm.get('domicilio')!.invalid && (editForm.get('domicilio')!.dirty || editForm.get('domicilio')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('domicilio')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diuconApp.responsable.latitud" for="field_latitud">Latitud</label>
                    <input type="number" class="form-control" name="latitud" id="field_latitud"
                           formControlName="latitud"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diuconApp.responsable.longitud" for="field_longitud">Longitud</label>
                    <input type="number" class="form-control" name="longitud" id="field_longitud"
                           formControlName="longitud"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diuconApp.responsable.profesional" for="field_profesional">Profesional</label>
                    <input type="checkbox" class="form-control" name="profesional" id="field_profesional"
                           formControlName="profesional"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diuconApp.responsable.estudiante" for="field_estudiante">Estudiante</label>
                    <input type="checkbox" class="form-control" name="estudiante" id="field_estudiante"
                           formControlName="estudiante"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diuconApp.responsable.trabajador" for="field_trabajador">Trabajador</label>
                    <input type="checkbox" class="form-control" name="trabajador" id="field_trabajador"
                           formControlName="trabajador"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diuconApp.responsable.usuario" for="field_usuario">Usuario</label>
                    <select class="form-control" id="field_usuario" name="usuario" formControlName="usuarioId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="diuconApp.responsable.subcategorias" for="field_subcategorias">Subcategorias</label>
                    <select class="form-control" id="field_subcategorias" multiple name="subcategorias" formControlName="subcategorias">
                        <option [ngValue]="getSelected(editForm.get('subcategorias')!.value, subCategoriaOption)" *ngFor="let subCategoriaOption of subcategorias; trackBy: trackById">{{ subCategoriaOption.nombre }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
